body{
    background-color: black;
    position: relative;
    z-index: 1;
}
.main_img{
    width: 80vw;
    height: 100vh;
    position: absolute;
    z-index: -3;
    right: 0%;
}
/*------------------- top line one--------------------*/
.top_line1{
    width: 90vw;
    height: 2vh;
    background-color: rgb(236, 13, 13);
    position: absolute;
    right: 0%;
}
.top_line2{
    width: 9vw;
    height: 2vh;
    background-color: rgb(38, 6, 247);
    position: absolute;
    left: 0%;
    
}
/*----------------orange part-----------*/
.orange{
    box-sizing: border-box;
    background-color: rgba(232, 85, 31, 0.678);
    z-index: -2;
    position: left;
    height:auto;
}
.code{
    font-size:60px;
    font-weight: bold;
    margin-left: 20px;
    color: white;
}
.code_1{
    font-size: large;
    /* margin-left: 10px; */
}
.text{
    position: relative;
    margin-left: 50px;
    color: white;
}
.logo{
    font-size: 50px;
    font-weight: bolder;
    margin-top: -37px;
    margin-left: 50px;
    position: relative;
}
.text_bus{
    font-size: 15rem;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}
.fly{
    font-size: 100px;
    color: white;
    margin-left: 50px;
    
}
.create{
    color:white;
    font-weight: bold;
    margin-left: 50px;
}
/*------------link-------------*/
.link{
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}
.location{
    font-size: 30px;
    font-weight: 600;
    margin-left: 50px;
}
.call{
    font-size: 30px;
    font-weight: 600;
    margin-left: 50px;
}
.mail{
    font-size: 30px;
    font-weight: 600;
    margin-left: 50px;
}
/*-----------green part-----------*/
.green{
    box-sizing: border-box;
    background-color: rgba(88, 239, 80, 0.838);
    z-index: -1;
    position: left;
    height:auto;
    bottom: 0%;
}
.A{
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    color: white;
    margin-right: 40px;
}
.paragraph{
    text-align: right;
    color: white;
    margin-left: 20px;
    margin-right: 40px;

}
.line{
    border:5px solid teal;
    margin-left: 40px;
    margin-right: 40px;
}
.line_1{
    border:5px solid rgb(28, 35, 242);
    margin-left: 40px;
    margin-right: 40px;
}